:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

.main-pge-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* background-image: url("../resourcecs/Images/bg1.jpg"); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* background-image: url("../resourcecs/Images/BG-12new.png"); */
}
.main-page-title-color {
  color: #0b6cff;
}
.main-pge-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 5rem;
  justify-content: center;
}
.heading {
  /* margin-top: -2rem; */
  padding: 1%;

  width: 90%;
  align-self: center;
}
.wel-tag {
  font-size: 1rem;
  width: 80%;
  opacity: 0; /* Initial opacity (invisible) */
  animation: reveal 2s ease-in-out forwards; /* Smooth reveal animation */
}

.main-heading {
  font-size: 2.2rem;
  margin-top: -1.5rem;
  width: 100%;
  opacity: 0; /* Initial opacity (invisible) */
  animation: reveal 2s ease-in-out forwards; /* Smooth reveal animation */
}
.main-para {
  color: rgba(240, 248, 255, 0.959);
  padding-left: 0.1rem;
  margin-top: -1rem;
  width: 90%;
  font-size: 1rem;
  font-family: "Gilroy";

  opacity: 0; /* Initial opacity (invisible) */
  animation: reveal 2s ease-in-out forwards; /* Smooth reveal animation */
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main-page-btns {
  font-family: "Gilroy";
  align-self: flex-start;
 
 
  
}
.start-learn-btn {
  margin-left: 0.2rem;
  border-radius: 1px;
  border: 0;
  max-height: 40px;
  height: 5vh;
  width: 20vw;
  max-width: 400px;
  min-width: 250px;
  font-size: 0.8rem;
  border: 2px solid #0b6cff;
  background-color: rgba(240, 248, 255, 0);
  color: aliceblue;
  opacity: 1; /* Initial opacity (invisible) */
  animation: reveal 1s ease-in-out forwards; /* Smooth reveal animation */
}
.close-form-sign {
  z-index: 10;

  /* margin-top: -30rem; */
  align-self: flex-start;
  margin-right: 40rem;

  font-size: 2rem;
}
.close-form-sign:hover {
  color: #0b6cff;
}
@keyframes glow {
  0% {
    background-color: #0b6cff; /* start with a yellow background */
  }
  50% {
    background-color: transparent; /* change to a transparent background at the middle of the animation */
  }
  100% {
    background-color: #0b6cff; /* end with a yellow background */
  }
}
.start-learn-btn:hover {
  background-color: #0b6cff;
  animation: glow 5s infinite;
}

.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);

  animation-name: clip-text;

  cursor: default;

  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0b6cff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
}

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.main-pge-left {
  border-radius: 30px;
  box-shadow: 0 0 0px 1px #f5f7ff;
  background-color: #1113140a;
  display: flex;
  padding: 2rem;
  margin-right: 8rem;
  opacity: 1; /* Initial opacity (invisible) */
  animation: reveal 1s ease-in-out forwards; /* Smooth reveal animation */
}
.main-pge-left:hover {
  /* outer right cyan */
}

/* 2xl */
@media (max-width: 1536px) {
  .main-pge-container {
    max-width: 1280px;
  }

  .main-pge-right {
    padding-left: 3rem;
  }
  .main-heading {
    font-size: 2rem;
  }
  .main-para {
    font-size: 0.9rem;
  }
  .main-page-btns {
  
    width: 25%;
  }
  .main-pge-left {
    margin: 0;
    padding: 1rem;
  }
  .close-form-sign {
    z-index: 10;
    display: flex;

    flex-direction: column;

    font-size: 2rem;
  }
  .close-form-sign {
    z-index: 10;

    /* margin-top: -30rem; */
    align-self: flex-start;
    margin-right: 30rem;

    font-size: 2rem;
  }
}

/* xl */
@media (max-width: 1280px) {
  .main-pge-container {
    max-width: 1024px;
  }

  /* Add some code here to adjust the layout and font sizes for xl screens */
  .main-pge-right {
    padding-left: 2rem;
  }
  .main-heading {
    font-size: 1.8rem;
  }
  .main-para {
    font-size: 0.8rem;
  }
  .main-page-btns {
    width: 30%;
  }
  .main-pge-left {
    margin: 0;
    padding: 1rem;
  }
  .close-form-sign {
    z-index: 10;

    /* margin-top: -30rem; */
    align-self: flex-start;
    margin-right: 30rem;

    font-size: 2rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .main-pge-container {
    max-width: 768px;

    padding: 2rem;
  }
  .main-pge-right {
    padding: 1rem;
  }
  .heading {
    margin: 0;
    width: 100%;
  }
  .wel-tag {
    width: 100%;
  }
  .main-heading {
    font-size: 2rem;
    width: 100%;
  }
  .main-para {
    width: 90%;
  }
  .main-page-btns {
    width: 50%;
    
    
  }
  .start-learn-btn {
    
    height: 6vh;
    font-size: 1rem;
  }
  .main-pge-left {
    margin-block: 2rem;
    align-self: center;
  }
  .close-form-sign {
    position: absolute;
    top: 150px;
    margin: 0;
    margin-left: 35rem;
    width: 10vw;
  }
  .close-form-sign:hover {
    color: #0b6cff;
  }
}

/* md */
@media (max-width: 768px) {
  .main-pge-container {
    max-width: 640px;

    padding: 0;

    flex-direction: column;
   
    
  }
  .main-pge-right {
    align-items: center;
  
    
  }
  .heading {
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .wel-tag {
    text-align: center;
    width: 100%;
  }
  .main-heading {
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  .main-para {
    text-align: center;
    width: 100%;
  }
  .main-page-btns {
    align-self: center;

   
    width: 100%;
    
  }
  .start-learn-btn {
    height: 6vh;
    font-size: 1rem;
  }
  .main-pge-left {
    margin: 0;
    align-self: center;
  }
  .close-form-sign {
    position: absolute;
    top: 150px;
    margin: 0;
    margin-left: 30rem;
    width: 10vw;
  }
  .close-form-sign:hover {
    color: #0b6cff;
  }
}

/* sm */
@media (max-width: 640px) {
  .main-pge-container {
    max-width: 475px;
  }
  /* Add some code here to adjust the layout and font sizes for sm screens */
  .main-pge-right {
  }
  .main-heading {
    font-size: 2rem;
  }
  .main-para {
    font-size: 1rem;
  }
  .main-page-btns {
   
  }
  .start-learn-btn {
    height: 5vh;
    font-size: 0.9rem;
  }
  .close-form-sign {
    margin-left: 25rem;
  }
}
/* xs */
@media (max-width: 480px) {
  .main-pge-container {
    padding-left: 0;
    
    width: 100%;
  }
  .heading {
  }
  .main-pge-right {
   padding: 1rem;
  }
  .main-heading {
    font-size: 1.8rem;
  }
  .main-para {
    font-size: 0.8rem;
  }
  .main-page-btns {
    
  }
  .start-learn-btn {
    margin: 0;
    width: 40vw;
    font-size: 0.8rem;
  }

  .main-pge-left {
    margin: 0;
    box-shadow: 0px 0px 0px 0px;
    padding: 0;
    padding-block: 2rem;
  }
  .close-form-sign {
    position: absolute;
    top: 100px;
    margin: 0;
    margin-left: 0 rem;
    padding-top: 5rem;
    width: 10vw;
  }
  /* Add some code here to adjust the layout and font sizes for xs screens */
}
