.main-pge-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* background-image: url("../resourcecs/Images/bg1.jpg"); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background-image: url("../resourcecs/Images/BG-12new.png"); */
}
.main-page-title-color {
  color: #0b6cff;
}
.main-pge-right {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 5rem;
  justify-content: center;
}
.heading {
  /* margin-top: -2rem; */
  padding: 1%;

  width: 90%;
  align-self: center;
}
.wel-tag {
  font-size: 1.5rem;
  width: 100%;
}

.main-heading {
  font-size: 2.2rem;
  margin-top: -1.5rem;
  width: 100%;
}
.main-para {
  color: rgba(240, 248, 255, 0.582);
  padding-left: 0.1rem;
  margin-top: -1rem;
  width: 90%;
  font-size: 1rem;
  font-family: "Gilroy";
}
.main-page-btns {
  font-family: "Gilroy";
  padding: 1%;
  width: 20%;
  margin-left: 2.3rem;
}
.start-learn-btn {
  border-radius: 1px;
  border: 0;
  max-height: 40px;
  height: 5vh;
  font-size: 0.8rem;
  border: 2px solid #0b6cff;
  background-color: rgba(240, 248, 255, 0);
  color: aliceblue;
}
.close-form-sign {
  z-index: 10;
  margin-right: 85rem;
  margin-top: -30rem;
  font-size: 2rem;
}
.close-form-sign:hover {
  color: #0b6cff;
}
@keyframes glow {
  0% {
    background-color: #0b6cff; /* start with a yellow background */
  }
  50% {
    background-color: transparent; /* change to a transparent background at the middle of the animation */
  }
  100% {
    background-color: #0b6cff; /* end with a yellow background */
  }
}
.start-learn-btn:hover {
  background-color: #0b6cff;
  animation: glow 5s infinite;
}

.main-pge-left {
  border-radius: 30px;
  box-shadow: 10px 10px 10px  #002457;
  
  
  display: flex;
  padding: 5rem;

}

/* 2xl */
@media (max-width: 1536px) {
  .main-pge-container {
    
    max-width: 1280px;
  }
 
  .main-pge-right {
    padding-left: 3rem;
  }
  .main-heading {
    font-size: 2.5rem;
  }
  .main-para {
    font-size: 0.9rem;
  }
  .main-page-btns {
    margin-left: 1.5rem;
    width: 25%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .main-pge-container {
    max-width: 1024px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    
  }
  /* Add some code here to adjust the layout and font sizes for xl screens */
  .main-pge-right {
    padding-left: 2rem;
  }
  .main-heading {
    
    font-size: 2.2rem;
  
  }
  .main-para {
    font-size: 0.8rem;
  }
  .main-page-btns {
    width: 30%;
  }
  .main-pge-left {
    padding: 1rem;
    
  }

}

/* lg */
@media (max-width: 1024px) {
  .main-pge-container {
    max-width: 768px;
  }
  /* Add some code here to adjust the layout and font sizes for lg screens */
  .main-pge-right {
    padding-left: 1rem;
  }
  .main-heading {
    font-size: 1.6rem;
  }
  .main-para {
    font-size: 0.7rem;
  }
  .main-page-btns {
    margin-left: 1.2rem; 
    width: 40%;
  }

}

/* md */
@media (max-width: 768px) {
  .main-pge-container {
    max-width: 640px;
    flex-direction: column;
    margin-top: -1rem;
  }
  .main-pge-right {
    height: 60vh;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    flex-basis: auto;
    padding-top: 2rem;
    width: 80vw;
  }
  .heading {
    margin: 0;
    width: 100%;
  }
  .wel-tag {
    width: 100%;
  }
  .main-heading {
    font-size: 2rem;
    width: 100%;
  }
  .main-para {
    width: 90%;
  }
  .main-page-btns {
    width: 50%;
    margin-left: 0;
  }
  .start-learn-btn {
    height: 6vh;
    font-size: 1rem;
  }
  .main-pge-left {
    align-self: center;
  }
  .close-form-sign {
    position: absolute;
    top: 150px;
    margin: 0;
    margin-left: 35rem;
    width: 10vw;
  }
  .close-form-sign:hover {
    color: #0b6cff;
  }
}

/* sm */
@media (max-width: 640px) {
  .main-pge-container{
    max-width: 475px;
  }
  /* Add some code here to adjust the layout and font sizes for sm screens */
  .main-pge-right {
    width: 90vw;
  }
  .main-heading {
    font-size: 2rem;
  }
  .main-para {
    font-size: 1rem;
  }
  .main-page-btns {
    
    
    width: 60%;
  }
  .start-learn-btn {
    height: 5vh;
    font-size: 0.9rem;
  }
  .close-form-sign {
    margin-left: 25rem;
  }
}
/* xs */
@media (max-width: 480px) {
  .main-pge-container {
    width: 100%;
    
  }
  .heading {
    width: 100%;
  }
  .main-pge-right {
    align-self: center;
    justify-self: center;
    padding: 0;
    width: 80vw;
    flex-basis: auto;
    height: auto;
  }
  .main-heading {
    font-size: 1.8rem;
  }
  .main-para {
    font-size: 0.8rem;
  }
  .main-page-btns {
    width: 70%;
  }
  .start-learn-btn {
    height: 5vh;
    font-size: 0.8rem;
  }

  .main-pge-left {
    
    height: auto;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    padding-left: 0;
    
   
   
    margin: 0;
  }
  .close-form-sign {
    position: absolute;
    top: 100px;
    margin: 0;
    margin-left: 12rem;
    padding-top: 1rem;
    width: 10vw;
  }
  /* Add some code here to adjust the layout and font sizes for xs screens */

}