.main-pge-container {
  
  /* background-image: url("../resourcecs/Images/bg1.jpg"); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
 
  margin-top: 4rem;

 
}
.main-page-title-color{
  color: #0b6cff;
}
.main-pge-right {
 
 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 5rem;
  
}
.heading {
  padding: 1%;
 
  width: 90%;
  align-self: center;
}
.wel-tag {
  
 
  font-size: 1rem;
  width: 80%;
  
}

.main-heading {
  
  font-size: 2.2rem;
  margin-top:-2.5rem;
  width: 100%;
  
}
.main-para {
    color: rgba(240, 248, 255, 0.582);
  padding-left: 0.1rem;
  margin-top: -1rem;
  width: 90%; 
  font-size: 1rem;
}
.main-page-btns{
  
    padding: 1%;
    width: 20%;
    margin-left: 2.3rem; 
}
.start-learn-btn{
    border-radius: 1px;
    border: 0;
    height: 5vh;
    font-size: 0.8rem;
    border: 2px solid  #0b6cff;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    
}

.main-pge-left {
  
  
  margin-right: 2rem;
 
  
  
} 

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .main-pge-container {
    flex-direction: column;
    margin-top: 1rem;
   
  }
  .main-pge-right {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    flex-basis: auto;
    width: 80vw;
  }
  .heading {
    width: 100%;
  }
  .wel-tag {
    width: 100%;
  }
  .main-heading {
    font-size: 2rem;
    width: 100%;
  }
  .main-para {
    width: 90%;
  }
  .main-page-btns {
    width: 50%;
    margin-left: 0;
  }
  .start-learn-btn {
    
    height: 6vh;
    font-size: 1rem;
  }
  .main-pge-left {
   
    padding-top: 5rem;
    align-self: center;
    padding-right: 0;
    margin: 0;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
  .main-pge-container {
   
   
  }
  .main-pge-right {
    align-self: center;
    justify-self: center;
    margin: 0;
    width: 90vw;
    
    
    flex-basis: auto;
  }
  .main-heading {
    font-size: 1.8rem;
  }
  .main-para {
    font-size: 0.8rem;
  }
  .main-page-btns {
    width: 70%;
  }
  .start-learn-btn {
    height: 5vh;
    font-size: 0.8rem;
  }
  .main-pge-left{
    margin: 0;
  }
}