.promises-container{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    
}
.promises-left{
    
    flex-basis: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-top: 0;
}
.promises-right{
   
    padding: 5rem;
   
    width: 50vw;
   
    flex-basis: 1;
}
.promises-heading{
    text-align: center;
    width: 30vw;
    font-size: 2.5rem;
    align-items: center;
   
    
}
.promises-para{
    text-align: center;
    margin-top: -1rem;
    width: 30vw;
    font-size: 1rem;

}
@media (max-width: 768px) {
    .promises-container {
      flex-direction: column;
      justify-content: center;
    }
    .promises-left {
    
      flex-basis: auto;
      width: 100vw;
      padding: 2rem;
    }
    .promises-right {
      width: 100vw;
      padding: 2rem;
    }
    .promises-heading {
     padding-left: 2rem;
     align-self: center;
      width: 80vw;
      font-size: 2.5rem;
    }
    .promises-para {
      width: 80vw;
      font-size: 0.8rem;
      align-self: center;
    }
  }
  
  /* Styles for screens smaller than 480px */
  @media (max-width: 480px) {
    .promises-left{
      display: flex;
      justify-content: center;
        gap: 1rem;
        width: 80vw;
     }
     .promises-right {
      
      width: 80vw;
    
     }
    .promises-heading {
      align-self: center;
      width: 80vw;
      font-size: 1.5rem;
      padding-right: 2rem;
    }
    .promises-para {
      text-align: center;
     
      align-self: center;
      width: 90vw;
      font-size: 0.8rem;
    }
  }