.formContainer {
 
  width: 35vw;
  border-radius: 20px;
  padding-left: 5rem;
  
  display: flex;
  flex-direction: column;
  background-color: #ffffff00;
  color: #0b6cff;
 padding-bottom: 3rem;
 /* box-shadow: 0 0 10px 10px #0b6cff; */
}
.form-lables {
  padding: 1rem;

  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  padding-top: 2rem;
}

input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #4caf50;
  }
.internal-forms {
  display: flex;
  flex-direction: column;
}
.internal-forms input {
  border: 0;
  padding-top: 1rem;
  background-color: #d3d3d300;

  width: 100%;
  border-bottom: 2px solid rgb(31, 130, 201);
}
.internal-forms b {
  color: #7c9fc9;
}
input:focus {
  outline: none;
  color: wheat;
}

.form-sign-in {
  
  align-self: flex-end;
  border: 0;
 
  border-radius: 10px;
  margin-top: 1rem;
  margin-right: 7.8rem;

}
.whatsapp{
  width: 3vw;
  height: 5vh;
}
.sign-up-form {
  align-self: flex-start;

  padding-left: 1rem;
  font-size: 2rem;
}
.form-btm {
  padding: 1rem;
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 2vw;
 
}
.form-btm-label {
  flex-basis: 100%;
}
.form-btm-p {
  padding: 0;
  margin-right: 10rem;
  flex-basis: 70%;
  font-size: 1rem;
}
.form-btm-signup {
  border: 0;
  flex-basis: 30%;
  margin-top: -3rem;
  font-family: "Noyh", sans-serif;
  border-radius: 20px;
  color: black;
  height: 4vh;
  background-color: #c3e8fe;
  justify-self: center;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .formContainer {
   
    margin: 0;
    align-self: center;
    width: 70vw;
    padding-left: 0rem;
    
  }
  .form-lables {
    height: 40vh;
    width: 65vw;
    gap: 1.5vw;
  }
  .internal-forms{
   
    height: 20vh;
  }
  .internal-forms input{
    padding-top: 1.5rem;
  }
  .form-sign-in {
  
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .whatsapp{
    height: 6vh;
    width: 5vw;
  }
  .sign-up-form {
    font-size: 1.5rem;
  }
  .form-btm {
    width: 65vw;
    padding-top: 1vw;
  }
  .form-btm-p {
  
  }
  .form-btm-signup {
    flex-basis: 20%;
    height: 5vh;
    font-size: 1.0rem;
    margin-top: -2.5rem;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
  .formContainer {
    
    margin: 0;
    align-self: center;
    width: 80vw;
    padding-left: 0rem;
  }
  .form-lables {
    
    width:70vw;
    gap: 1vw;
  }
  .form-sign-in {
    
   
  }
  .whatsapp{
    height: 5vh;
    width: 10vw;
    
  }
  .sign-up-form {
    font-size: 1.2rem;
  }
  .form-btm {
    width: 70vw;
    padding-top: 0.5vw;
  }
  .form-btm-p {
   
    font-size: 0.8rem;
  }
  .form-btm-signup {
    flex-basis: 40%;
    margin-top: -2.5rem;
  }
}