.promises-card{
  
   padding: 5rem;
   display: flex;
   flex-wrap: nowrap;
   gap: 2rem;
}
.promises-internal{
    background-color: rgba(243, 243, 243, 0.062);
    width: 12vw;
    height: 17vh;

    border-radius: 20px;
    padding: 2rem;
}
.promises-down{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}
.promises-up{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media (max-width: 768px) {
    .promises-card {
      
      display: flex;
      flex-direction: column;
      padding: 0rem;
      gap: 0rem;
      
    }
    .promises-internal {
      
      width: 30vw;
      height: 15vh;
      margin-left: 15rem;
      
    }
    .promises-down{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
  .promises-up{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
  }
  
  /* Styles for screens smaller than 480px */
  @media (max-width: 480px) {
    .promises-down{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
  .promises-up{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
    .promises-card {
      
      display: flex;
      flex-direction: column;
      
      gap: 0rem;
      
    }
    .promises-internal {
      margin-left: 5rem;
      width: 40vw;
      height: 20vh;
      padding: 1rem;
    }
  }
