.promises-card{
  
   padding: 5rem;
   display: flex;
   flex-wrap: nowrap;
   gap: 2rem;
}
.promises-internal{
    background-color: #f5f7ff;
    width: 12vw;
    height: 17vh;
    color: #101315;
    border-radius: 20px;
    padding: 2rem;
}
.promises-down{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}
.promises-up{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.promises-t{
  font-size: 1.5rem;
}
.promises-p{
  font-size: 0.8rem;
}
@media (max-width: 768px) {
    .promises-card {
      
      display: flex;
      flex-direction: column;
      padding: 0rem;
      gap: 0rem;
      
    }
    .promises-internal {
      align-self: center;
      width: 35vw;
      height: 17vh;
    
      
    }
    .promises-down{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
  .promises-up{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
  }
  
  /* Styles for screens smaller than 480px */
  @media (max-width: 480px) {
    .promises-down{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      gap: 2rem;
      padding-bottom: 2rem;
      
  }
  .promises-up{
      display: flex;
      flex-direction: column;
      padding-top: 0rem;
      gap: 2rem;
      padding-bottom: 2rem;
  }
    .promises-card {
      
      display: flex;
      flex-direction: column;
      
      gap: 0rem;
      
    }
    
  }
