@font-face {
  font-family: "EgGothic";
  src: local("Engravers' Gothic Regular"),
    url("../resourcecs/fonts/Engravers'\ Gothic\ Regular.otf")
      format("opentype");
}
@font-face {
  font-family: "DamHeavy";
  src: local("Damavand-Heavy ?"),
    url("../resourcecs/fonts/Damavand-Heavy.ttf") format("truetype");
}

.navBar {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 8vh;
  align-items: center;
  position: sticky;
  top: 0;
 
}
.navbarsroll{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 8vh;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
}
.navlinks {
  display: flex;
  gap: 10%;
  font-family: "EgGothic";
  justify-self: center;
  width: 80%;
  justify-content: center;
  font-size: 1.4rem;
}
.header-links-effects:hover{
  text-decoration: underline;
  color: #0b6cff  ;
}

.logo {
  border: 0;
  
  background-color:  #d4d4d400;
  color: #fafafa;
 
  font-size: 1.5rem;
  font-family: "DamHeavy";
  justify-self: center;
  padding-bottom: 2%;
  
}
.header-logo {
  height: 8vh;
  
  justify-self: center;
}
.header-btn {
  font-family: "Noyh", sans-serif;
  border-radius: 20rem;
  width: 30%;
  height: 4vh;
  background-color:#0b6cff;
  justify-self: center;
  font-size: 1rem;
  border: 0;
  color: #f5f7ff;
}
.header-btn:hover{
 color: #010202;
 
}
.header-mobile-view{
  
  display: none;
}
.close-form{
  margin-top: -30rem;
  font-size: 2rem;
  margin-left: 13rem;
}
.close-form:hover{
  color: #0b6cff;
}


@media (max-width: 1536px) {
  .navBar {
    max-width: 1280px;
  }
  .header-btn{
    width: 40%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .navBar {
    max-width: 1024px;
  }
  .header-btn{
    width: 50%;
  } 
  .logo {
    font-size: 1.2rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .navBar {
    max-width: 768px;
  }
 
}
/* md */
@media (max-width: 768px) {
  .navBar {
    max-width: 640px;
   display: flex;
   flex-direction:row;
   justify-content: center;
   padding: 1rem ;
  }

 
  .navbarsroll{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 8vh;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    height: 10vh;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navlinks {
    display: none;
  }
  .logo {
    
    font-size: 2rem;
    padding-bottom: 0;
  }
  .header-logo {
    height: 5vh;
    width: 80%;
  }
  .header-btn {
    display: none;
  
  }
  .header-mobile-view{
   
    width: 70vw;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
  }
  .hambuger{
    z-index: 1;
    height: 4vh;
  }
  .mobileLinks{
    z-index: 0;
    background-color: #010202;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 300px;
    height: 100%;
    align-items: flex-start;
    padding-left: 2rem;
    font-size: 1.5rem;
    gap: 50px;
   

    padding-top: 10rem;
  }
  .internal-mobile-links{
    background-color: #0b6cff;
    width: 100%;
    color: #f5f7ff;
    border: 2px solid #0b6cff;
  }
  
}
/* sm */
@media (max-width: 640px) {
  .navBar {
    max-width: 475px;
  }
}
/* xs */
@media (max-width: 480px) {
  .navBar{
    padding: 0;
    width: 100%;
  }
  .navlinks {
    
    display: none;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .header-btn {
    display: none;
  }
}