.course-ctn {
 
  padding: 5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-titles {
  padding: 1rem;
  padding-left: 5rem;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.course-tag {
  width: 25vw;
  padding: 1rem;
  font-size: 2rem;
}
.course-tag-para {
  width: 30vw;
  font-size: 1rem;
  padding-top: 1.5rem;
}
.course-cards {
 
padding: 3rem;
   

  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media (max-width: 768px) {
  .course-ctn {
    padding: 2rem;
  }
  .course-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    width: 90vw;
    gap: 0rem;
    justify-content: center;
  }
  .course-tag {
  
    width: 80vw;
    font-size: 1.8rem;
  }
  .course-tag-para {
    width: 80vw;
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
  .course-cards {
    flex-direction: column;
    width: 50vw;
    gap: 2rem;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {

  .course-tag {
    width: 80vw;
    font-size: 1.2rem;
  }
  .course-tag-para {
    width: 90vw;
    font-size: 0.6rem;
    padding-top: 0.2rem;
  }
  .course-cards {
   
    width: 70vw;
  }
}