.course-ctn {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  
 
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.course-titles {
  text-align: center;
  padding: 1rem;
  padding-left: 5rem;
  width: 70vw;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
.course-tag {

  width: 25vw;
  padding: 1rem;
  font-size: 2rem;
}
.course-tag-para {
  width: 30vw;
  font-size: 1rem;
  padding-top: 1.5rem;
}
.course-cards {
 
  padding: 3rem;
  
  
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


/* 2xl */
@media (max-width: 1536px) {
  .course-ctn {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .course-ctn  {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .course-ctn {
    max-width: 768px;
  }
  .course-titles {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    width: 80vw;
    gap: 0rem;
    justify-content: center;
  }
  .course-tag {
    align-self: center;
    padding: 0;
    width: 80vw;
    font-size: 1.8rem;
  }
  .course-tag-para {
    width: 60vw;
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
  .course-cards {
    flex-direction: column;
    width: 50vw;
    gap: 2rem;
  }
}



@media (max-width: 768px) {
  .course-ctn {
    max-width: 640px;
    padding: 2rem;
    padding-top: 0;
  }
  .course-titles {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    width: 90vw;
    gap: 0rem;
    justify-content: center;
  }
  .course-tag {
    align-self: center;
    padding: 0;
    width: 80vw;
    font-size: 1.8rem;
  }
  .course-tag-para {
    width: 80vw;
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }
  .course-cards {
    flex-direction: column;
    width: 50vw;
    gap: 2rem;
  }
}
@media (max-width: 640px) {
  .course-ctn  {
    padding: 0;
    max-width: 475px;
  }
}
/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
   .course-ctn{
    width: 100%;
   }
  .course-tag {
   
    width: 80vw;
    font-size: 2rem;
    margin-left: 1rem;
   
    
  }
  .course-tag-para {
    width: 80vw;
    font-size: 0.7rem;
    padding-top: 0.2rem;
    padding: 0;
    margin-left: 1rem;
   
  }
  .course-cards {
   
    width: 70vw;
  }
}