.Card {
  display: grid;

  border: solid 2px #f5f7ff;
  border-radius: 30px;
  height: 50vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}
.card-ctn {
  display: flex;
  flex-direction: column;
}
.card-ctn-title {
}
.card-ctn-para {
  font-size: 0.8rem;
}
.card-redirect {
  display: flex;
  flex-direction: row;
}
.card-read-more {
  border: 0;
  background-color: #f5f7ff00;
  color: #f5f7ff;
}
.card-img {
  width: 100%;
}


/* 2xl */
@media (max-width: 1536px) {
  .Card{
    height: 40vh;
  }
}

/* xl */
@media (max-width: 1280px) {
  .Card{
    height: 40vh;
  }
}

/* lg */
@media (max-width: 1024px) {
  .Card{
    height: 40vh;
  }
}

/* md */


/* sm */


/* xs */


@media (max-width: 768px) {
  .Card {
   
    height: auto;
    flex-direction: column;
  }
  .card-ctn {
    width: 100%;
  }
  .card-redirect {
    width: 100%;
    padding-top: 2rem;
    justify-content: center;
  }
  .card-read-more {
    width: 30vw;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
  .card-ctn-para {
    font-size: 0.6rem;
  }
  .card-read-more {
    width: 50vw;
    height: 6vh;
    font-size: 0.8rem;
  }
}
