.Card {
  
  border: solid 2px black;
  border-radius: 30px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;

}
.card-ctn {
 
  display: flex;
  flex-direction: column;

 
}
.card-ctn-title {
 
  
}
.card-ctn-para {
  
  font-size: 0.8rem;
  margin-top: 0rem;
}
.card-redirect {
  
  
  width: 20vw;
  display: flex;
  flex-direction: row;
  padding-top: 8rem;
}
.card-read-more {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: antiquewhite;
  height: 5vh;
  width: 10vw;
 
  
}
.card-img {
  width: 15vw;
 
  
}
/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .Card {
    height: auto;
    flex-direction: column;
   
  }
  .card-ctn {
    width: 100%;
  }
  .card-redirect {
    width: 100%;
    padding-top: 2rem;
    justify-content: center;
  }
  .card-read-more {
    width: 30vw;
  }
  .card-img {
    width: 100%;
    height: auto;
  }
}

/* Styles for screens smaller than 480px */
@media (max-width: 480px) {
  .card-ctn-para {
    font-size: 0.6rem;
  }
  .card-read-more {
    width: 50vw;
    height: 6vh;
    font-size: 0.8rem;
  }
}